services:
  - type: web
    name: eunastudio-backend
    env: python
    region: oregon
    plan: free
    branch: main

    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt

    startCommand: gunicorn app:app
    autoDeploy: true

    envVars:
      - key: FLASK_ENV
        value: production

      - key: MAIL_USERNAME
        sync: false

      - key: MAIL_PASSWORD
        sync: false

      - key: MAIL_SENDER
        sync: false

      - key: JWT_SECRET_KEY
        sync: false

      - key: JWT_ALGORITHM
        value: HS256