Flask==3.0.0
flask-cors==4.0.0

email-validator==2.1.0
python-dotenv==1.0.1

# Seguridad
passlib==1.7.4
bcrypt==4.1.2

# JWT
PyJWT==2.10.1
python-jose==3.3.0

# MySQL (Railway + MySQL 8)
mysql-connector-python==8.3.0

# Server
gunicorn==21.2.0